local M = {}

--根服务器地址
M.rootServer = ""

--API版本号
M.curVersion = 3

--是否隐藏XXOO
M.hideXXOO = false

--addam (为空则使用默认的)
M.addamName = ""
M.addamAppid = ""
--广告概率(为0则使用默认的)
M.addamrandom = 0
M.addam_btom_1 = ""
M.addam_btom_2 = ""
M.addam_btom_list = ""
M.addam_splash = ""
M.addam_new_banner = ""
M.addam_look_count = 0

--分类地址(为空自动随机服务器)
M.categoryUrl = ""

M.headers = {}
M.headers[1] = "http://app.avgfytzba.com"
M.headers[2] = "http://app.hgpornhub.com"
M.headers[3] = "http://app.fghuj.com";

M.covers = {}
M.covers[1] = "http://imgup.fghuj.com/cover/"

return M